<div class="contenedor">
    <div class="herramientas">
        <mat-form-field>
            <mat-label>Buscar...</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Java" #input>        
        </mat-form-field>
        
        <button mat-raised-button class="crear" color="primary" (click)="openDialogCrear('Crear')"><fa-icon [icon]="faPlus"></fa-icon> Crear Usuario</button>    
        <button mat-fab class="crear-mobile" color="primary" (click)="openDialogCrear('Crear')"><fa-icon [icon]="faPlus"></fa-icon></button>    
    </div>
    
    <div class="mat-elevation-z8 contenedor-table">
        <table mat-table [dataSource]="dataSource" matSort>
            
            <!-- Implicit Column -->
            <ng-container matColumnDef="id">
                <th class="id" mat-header-cell *matHeaderCellDef> ID </th>
                <td class="id" mat-cell *matCellDef="let i = index;"><span class="mobile-label">ID:</span> {{i + 1}} </td>
            </ng-container>
            
            <ng-container matColumnDef="fullname">
                <th class="cabecera text-center" mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Completo </th>
                <td class="celda" mat-cell *matCellDef="let row">  <span class="mobile-label">Nombre:</span> {{row.nombreCompleto}} </td>
            </ng-container>
        
            <ng-container matColumnDef="username">
                <th class="cabecera text-center" mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
                <td class="celda"mat-cell *matCellDef="let row">  <span class="mobile-label">Username:</span> {{row.username}} </td>
            </ng-container>

            <ng-container matColumnDef="telefono">
                <th class="cabecera text-center" mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
                <td class="celda"mat-cell *matCellDef="let row">  <span class="mobile-label">Telefono:</span> {{row.telefono? row.telefono:'Sin Teléfono'}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th class="cabecera text-center" mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td class="celda"mat-cell *matCellDef="let row">  <span class="mobile-label">Email:</span> {{row.email? row.email:'Sin Email'}} </td>
            </ng-container>            
            
            <ng-container matColumnDef="acciones">            
                <th class="celda-acciones text-center" mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                <td class="celda-acciones" mat-cell *matCellDef="let row">
                    <div class="acciones">
                        <fa-icon [icon]="faEdit" (click)="openDialogEditar('Editar',row)" class="accion-edit" matTooltip="Editar"></fa-icon>
                        /
                        <fa-icon [icon]="faTrash" (click)="eliminarUsuario(row.categoriaId)" class="accion-delete" matTooltip="Eliminar"></fa-icon>
                    </div>                              
    
                </td>            
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
            <tr class="mat-row" *matNoDataRow>
                <td class="celda" class="mat-cell" colspan="12">                    
                    {{ this.dataSource.data.length == 0 ?  'No existen registros':'No existen registros para el filtro: ' + '"' + input.value  + '"'}}
                </td>
            </tr>
        </table>
            
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Páginas de categorias"></mat-paginator>
</div>