<div class="contenedor">
    <h2 class="titulo">{{ examen.titulo }}</h2>    
    <div class="contenedor-instrucciones">
        <h1>Instrucciones importantes</h1>

        <ul>            
            <li>El cuestionario tiene un límite de tiempo de <b>{{ examen.numeroDePreguntas * 2 }} minutos.</b></li>
            <li>Puede intentar el cuestionario hasta <b>{{ examen.intentos }}</b> veces.</li>
            <li>Cada pregunta tiene un valor de <b>{{ examen.puntosMaximos/examen.numeroDePreguntas | number }} puntos.</b></li>
        </ul>
        <mat-divider></mat-divider>
        <br>
        <h1>Intentos de la prueba</h1>
        <ul>
            <li>Presione el boton <b>Empezar</b> para iniciar el examen.</li>
            <li>El tiempo comenzará en el momento en que haga click en el botón de inicio.</li>
            <li>No puede reanudar este cuestionario si se interrumpe por algún motivo, una vez empieza el exámen se tomará como un intento.</li>
            <li>Desplácese hacia abajo para pasar a la siguiente pregunta.</li>
            <li>Haga clic en el botón enviar cuestionario al finalizar el cuestionario.</li>
            <li>El informe de la prueba se genera automáticamente en forma de copia PDF.</li>
        </ul>
        <button (click)="empezarExamen()" mat-raised-button color="primary" *ngIf="numeroDeIntentosExamen < examen.intentos ; else sinIntentos">
            Comenzar prueba
        </button>
        <ng-template #sinIntentos>
            <button mat-raised-button disabled>
                Ya no posee intentos
            </button>
        </ng-template>
    </div>    
</div>