<div class="container-navbar">
    <div class="content-left">
        <img src="../../../assets/images/logo.webp" alt="" class="logo">
        <div class="name-page">AppExamenes</div>
    </div>
    <div class="content-right">
        <ul class="enlaces">
            <li class="link"><a routerLink="/" routerLinkActive="active" class="nav-link">Home</a></li>
            <li class="link"><a routerLink="login" routerLinkActive="active" class="nav-link">Iniciar Sesión</a></li>
            <li class="link"><a routerLink="register" routerLinkActive="active" class="nav-link">Registrar</a></li>
        </ul>
    </div>
</div>